PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_bhJcA6RPO5yi@ep-shiny-morning-b2fr32to-pooler.c-6.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_bGl2ZS10ZXRyYS00MTE1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_7koo2nyM6gQ8LUlXPG0Z7UPqcMGPRICMRU5SVLWDoV

SENTRY_DSN=https://76c54c051e4fdb90ccfe0bb00f83520b@o4512126582718464.ingest.de.sentry.io/4512126608474192
STREAM_API_KEY=jg3bfrvq5nby
STREAM_API_SECRET=ch82rmgnpqwjpnbp5yvn8jmsbcd8ywdjwqqmzhp3y7gqqewkgrexu3et9mpc82wy

IMAGEKIT_PUBLIC_KEY=public_V00P/v2IBeTv/vG4B5/DulVo4ec=
IMAGEKIT_PRIVATE_KEY=private_GSYyWelvMRnWQQ4NZDMbwu3G0Dc=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/1yu4uwhe2
